ion-header {
    ion-toolbar {
        .custom-button {
            width: 60%;
            margin: auto;
            display: flex;
            font-size: 22px;
            font-weight: bold;
            --background: var(--ion-color-tabbar);
            --border-radius: 2px;
            --border-color: white;
            --border-style: solid;
        }

        ion-thumbnail {
            --size: 80px;
            --border-radius: 50%;
            border: 2px solid #36aebe;
            margin: 10px auto;
        }
        .user-name {
            text-align: center;
            margin: auto;
            display: block;
            color: white;
        }
        .regist-container {
            ion-label {
                color: var(--ion-color-tabbar);
                font-size: 16px;
                letter-spacing: .01em;
                font-weight: 600;
            }
        }
        .logout-container {
            ion-label, ion-text {
                color: var(--ion-color-tabbar);
                font-size: 16px;
                letter-spacing: .01em;
                font-weight: 600;
            }
        }
    }
}
ion-content {
    .custom-title-container {
        display: flex;
    }
    .custom-checkins {
        position: absolute;
        right: 18px;
        // --background: var(--ion-color-text);
        --background: var(--ion-color-number);
    }
    .custom-time {
        font-size: 11px;
        // margin-left: 12px;
        --background: var(--ion-color-time);
    }
    .custom-bg {
        height: 100%;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
}
