<ion-header mode="ios">
  <ion-toolbar *ngIf="!(user | async)" class="ion-padding-top">
    <ion-button mode="ios" class="ion-no-padding" class="custom-button" size="small" (click)="goSignupPage()">
      OPPRETT PROFIL
    </ion-button>
  </ion-toolbar>
  <ion-toolbar *ngIf="!(user | async)">
    <ion-title (click)="goLoginPage()">Logg inn</ion-title>
  </ion-toolbar>

  <ion-toolbar *ngIf="(user | async)" class="ion-no-padding">
    <ion-thumbnail>
      <img *ngIf="profileOfRegisteredTours?.user?.avatar" [src]="profileOfRegisteredTours?.user?.avatar" />
      <img *ngIf="!profileOfRegisteredTours?.user?.avatar" src="assets/images/default_avatar.jpg" />
    </ion-thumbnail>
    <!-- <ion-label class="user-name">{{(user | async).user_display_name }} {{(user | async).user_nicename}}</ion-label> -->
    <ion-label class="user-name">{{(user | async).name }}</ion-label>
    <ion-label class="user-name">{{(user | async).email }}</ion-label>
  </ion-toolbar>
  <ion-toolbar class="ion-no-padding" *ngIf="(user | async)">
    <ion-item class="logout-container ion-no-margin" lines="none">
      <ion-text>Dine siste registreringer: </ion-text>
      <ion-label class="ion-text-right" (click)="doLogout()">Logg ut</ion-label>
    </ion-item>
    <ion-item class="regist-container" lines="none">
      <ion-label>{{profileOfRegisteredTours?.user?.checkins}} Registreringer totalt </ion-label>
    </ion-item>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-list *ngIf="(user | async)">
    <ion-item *ngFor="let item of places" (click)="goTourDetails(item.location_id)">
      <ion-avatar slot="start">
        <img [src]="item.picture" />
      </ion-avatar>
      <ion-label>
        <p slot="start">
          {{item.title}}
        </p>
        <div class="custom-title-container">
          <ion-badge class="custom-time">{{item.time}}</ion-badge>
          <!-- <p class="custom-time">
            {{item.time}}
          </p> -->

          <ion-badge class="custom-checkins">{{item.checkins}}</ion-badge>
          <!-- <p slot="end">
            {{item.checkins}}
          </p> -->
        </div>

        <h2 [innerHTML]="item.description"></h2>
      </ion-label>
    </ion-item>
  </ion-list>
  <div *ngIf="!(user | async)" class="custom-bg">
    <img src="assets/images/bg_mytours.jpg" />
  </div>
</ion-content>