ion-header {
    ion-toolbar {
        ion-buttons {
            ion-back-button {
                color: white !important;
                --icon-font-size: 22px;
                padding-left: 10px;
            }
            ion-button {
                ion-icon {
                    color: white !important;
                }
            }
        }
    }
}

ion-content {
    .custom-title {
        --color: var(--ion-color-text);
        font-size: 18px;
    }
    .custom-signup {
        --background: var(--ion-color-text);
        --opacity: 0.75;
    }

    ion-list {
        ion-item {
            --padding-start: 0px;
            ion-label {
                color: var(--ion-color-label);
                font-size: 14px;
            }
            ion-checkbox {
                --background-checked: var(--ion-color-text);
                opacity: 0.75;
                margin-right: 10px;
            }
            .custom-terms-label{
                color: var(--ion-color-text);
            }
        }
    }
}
