<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons mode="ios" slot="start">
      <ion-back-button icon="arrow-undo-outline" text="" defaultHref="/tabs/tab-mytours"></ion-back-button>
    </ion-buttons>
    <ion-title>Glemt passord?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item lines="none" class="ion-text-center">
    <ion-label class="custom-title ion-text-center font-size-25">Vennligst skriv inn din epost</ion-label>
  </ion-item>

  <form [formGroup]="resetForm" (ngSubmit)="onResetSubmit()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">E-post</ion-label>
        <ion-input formControlName="email" required></ion-input>
      </ion-item>
    </ion-list>
    <div class="ion-padding-top ion-padding-bottom">
      <ion-button mode="ios" expand="full" type="submit" class="ion-no-margin custom-forgot">Forespørsel</ion-button>
    </div>
  </form>
<!-- 
  <ion-item lines="none" class="ion-text-center">
    <ion-label class="custom-title ion-text-center font-size-25">Nytt passord</ion-label>
  </ion-item>
  <ion-item lines="none" class="ion-text-center">
    <ion-label class="custom-desc ion-text-center font-size-25">Vennligst skriv inn nytt passord</ion-label>
  </ion-item>

  <form [formGroup]="passwordForm" (ngSubmit)="onPasswordSubmit()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Kode</ion-label>
        <ion-input formControlName="code" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Nytt passord</ion-label>
        <ion-input formControlName="password" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Gjenta passord</ion-label>
        <ion-input formControlName="confirm_password" required></ion-input>
      </ion-item>
    </ion-list>
    <div class="ion-padding-top ion-padding-bottom">
      <ion-button mode="ios" expand="full" type="submit" class="ion-no-margin custom-forgot">Endre passord</ion-button>
    </div>
  </form> -->


</ion-content>