<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab-map">
      <ion-icon src="assets/icon/tabs/ic_map.svg"></ion-icon>
      <ion-label>Kart</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-mytours">
      <!-- <ion-icon class="icon-category-fiske"></ion-icon> -->
      <ion-icon src="assets/icon/tabs/ic_mytour.svg"></ion-icon>
      <ion-label>Mine Turer</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-instagram">
      <ion-icon src="assets/icon/tabs/ic_instagram.svg"></ion-icon>
      <ion-label>Instagram</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-activities">
      <ion-icon src="assets/icon/tabs/ic_activities.svg"></ion-icon>
      <ion-label>Aktiviteter</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-about">
      <ion-icon src="assets/icon/tabs/ic_about.svg"></ion-icon>
      <ion-label>Om</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>