<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-undo-outline" text="" defaultHref="/tabs/tab-about"></ion-back-button>
    </ion-buttons>
    <ion-title>Vilkår og betingelser</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div [innerHTML]="content"></div>
  <!-- <ion-list lines="none">
    <ion-label>
      <h2>Personvernregler</h2>
    </ion-label>
    <h6>
      Du eier dataene dine. Vi selger ikke dataene dine, noen gang! Vi lagrer bare den informasjonen du gir oss. Vi
      har etablert våre personvernregler for å forklare hvordan Lister Friluftsråd håndterer dine personlige
      opplysninger. Disse personvernreglene beskriver hvilke typer informasjon vi kan samle inn fra deg, eller som
      du
      kan gi oss når du besøker Lister Friluftsråd – nettstedene eller bruker våre øvrige elektroniske tjenester.
    </h6>
    <h6>
      Personvernreglene gjelder informasjon vi samler inn:
    </h6>
    <h6>(i) gjennom tjenestene våre, og<br>
      (ii) i tekst og elektronisk kommunikasjon mellom deg og oss<br>
      (iii) skriftlige notater vi gjør relatert til våre tjenester<br>
      Personvernreglene gjelder ikke for andre tjenester eller informasjon som samles inn av tredjepartsnettsteder som
      kan nås via hyperkoblinger på våre sider.</h6>
  </ion-list> -->
</ion-content>